.fade {
    &-enter {
        opacity: 0;

        &-active {
            transition: opacity 1s;
        }
    }

    &-leave {
        &-active {
            transition: opacity 1s;
            opacity: 0;
        }
    }
}
